[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[feature]
	experimental = true

[alias]
	st = status
	cm = commit -s -m
	ck = checkout
	up = "!git fetch upstream && git merge upstream/main"
	last = log -1 HEAD
	lastd = diff HEAD~1...HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[init]
	defaultBranch = main

[help]
	autocorrect = prompt

[column]
	ui = auto

[push]
	autoSetupRemote = true
	followTags = true
	default = simple

[pull]
	rebase = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[merge]
	conflictstyle = diff3

[log]
	date = iso

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[commit]
	verbose = true

[rerere]
	enabled = true
	autoupdate = true

[url "git@github.com:"]
	insteadOf = "https://github.com/"

[diff]
	external = difft
	algorithm = histogram
	colorMoved = plain
	rename = true
	mnemonicPrefix = true

[user]
	email = kemingy94@gmail.com
	name = Keming

[includeIf "gitdir:~/TensorChord/"]
	path = ~/.gitconfig-tensorchord

[credential "https://github.com"]
	helper =
	helper = gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = gh auth git-credential
