[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[alias]
	st = status
	ci = commit -v
	last = log -1 HEAD
    lastd = diff HEAD~1...HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[commit]
	gpgsign = true

[gpg]
	program = gpg

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[user]
	email = kemingy94@gmail.com
	name = Keming
	signingkey = #TODO

[includeIf "gitdir:~/Workspace/"]
	path = ~/Workspace/.gitconfig

[credential "https://github.com"]
	helper =
	helper = gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = gh auth git-credential
