[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[alias]
	st = status
	cm = commit -s -m
	ck = checkout
	new = checkout -b
	up = "!git fetch upstream && git merge upstream/main"
	last = log -1 HEAD
	lastd = diff HEAD~1...HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[commit]
	gpgsign = true

[gpg]
	program = gpg

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[diff]
	external = difft

[user]
	email = kemingy94@gmail.com
	name = Keming
	signingkey = #TODO

[includeIf "gitdir:~/Tensorchord/"]
	path = ~/.gitconfig-tensorchord

[credential "https://github.com"]
	helper =
	helper = gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = gh auth git-credential
